---
layout: default
---	

<header id="header">
			
			{% include menu.html %}
			<!--== Site Description ==-->
			<div class="header-cta">
				<div class="container">
					<div class="row">
						<div class="blk">
							<h1>LabCi.bo</h1>
						</div>
					</div>
				</div>
			</div>

			<div class="header-bg">
				<div id="preloader">
					<div class="preloader"></div>
				</div>
				<div class="main-slider" id="main-slider">

					<!--== Main Slider ==-->
					<ul class="slides">
						<li><img src="images/demo/bg-slide-01.jpg" alt="Slide Image"/></li>
						<li><img src="images/demo/bg-slide-02.jpg" alt="Slide Image 2"/></li>
					</ul>

				</div>
			</div>
		</header>

		<div class="content">
			<div class="container box">
				<!--===============================-->
				<!--== Features ===================-->
				<!--===============================-->
				<section id="features" class="row">
					<div class="col-md-3 col-xs-6">
						<div class="event-info">
							<div class="icon fa fa-map-marker"></div>
							<div class="info">
								<h3>Bolivia Tech Hub</h3>
								<span>La Paz, Bolivia</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="event-info">
							<div class="icon fa fa-calendar"></div>
							<div class="info">
								<h3>Mayo y Junio</h3>
								<span>2015</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="event-info">
							<div class="icon fa fa-microphone"></div>
							<div class="info">
								<h3>5 talleres</h3>
								<span>.. expertos</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="event-info">
							<div class="icon fa fa-users"></div>
							<div class="info">
								<h3>15 participantes</h3>
								<span>de la Soc. Civil</span>
							</div>
						</div>
					</div>
				</section>

				<!--==========-->

				{% include share-buttons.html %}

				<div class="col-md-12"><h5>El LabCi es una instancia de integración y colaboración orientada a inspirar y desarrollar proyectos que incorporen tecnología e impacto social. Su objetivo es consolidar una red de colaboración efectiva entre sus miembros, facilitando la labor de las organizaciones de la sociedad civil, la investigación académica, y el periodismo de datos, en conjunto con la comunidad de desarrolladores y diseñadores.Para ello el laboratorio se concentra en identificar las principales problemáticas sociales, abordarlas desde un enfoque multidisciplinario, y desarrollar una solución tecnológica que nutra el trabajo cotidiano y potencie las capacidades de los grupos participantes.</h5>
				<h5>La integración sólida, constante y significativa entre el sector social y tecnológico, además de propiciar el desarrollo de mejores herramientas, apunta a la consolidación de ecosistemas promotores de cambio social.</h5></div>


				<section id="schedule">
					{% include schedule.html %}
				</section>

				<!--===============================-->
				<!--== Blog =======================-->
				<!--===============================-->
				<section id="blog" class="row">
					<div class="col-md-12 col-sm-12">
						<div class="section-header text-center">
							<h2>Blog</h2>
							<h4>Que esta pasando en la Comunidad AbreLatam</h4>
						</div>
						<div class="text-width">
							{% include feed-blog.html %}
						</div>
					</div>
				</section>


				<!--===============================-->
				<!--== Speakers ===================-->
				<!--===============================-->
				<section id="speakers" class="separated">
					<div class="row">
						<div class="col-sm-12">
							<div class="section-header text-center">
								<h2>Temas</h2>
								<h4>Estos son sólo algunos de los temas que vamos a tratar en #Abrelatam15</h4>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-01.jpg" alt="Speaker 1">
									</div>								
									<div class="speaker-contacts">
										<a href="#" class="contact pull-left fa fa-facebook"></a>
										<a href="#" class="contact pull-right fa fa-twitter"></a>
									</div>
								</div>
								<h3>Apertura de datos</h3>
								<p>Estrategias y experiencias para que los gobiernos abran sus datos.</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-02.jpg" alt="Speaker 2">
									</div>
									<div class="speaker-contacts">
										<a href="#" class="contact pull-left fa fa-facebook"></a>
										<a href="#" class="contact pull-right fa fa-twitter"></a>
									</div>
								</div>
								<h3>Bases de datos</h3>
								<p>Calidad, formato y periodicidad de los datos.</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-03.jpg" alt="Speaker 3">
									</div>
									<div class="speaker-contacts">
										<a href="#" class="contact pull-left fa fa-facebook"></a>
										<a href="#" class="contact pull-right fa fa-twitter"></a>
									</div>
								</div>
								<h3>Financiamiento</h3>
								<p>Claves para emprender con un proyecto de datos abiertos.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-04.jpg" alt="Speaker 4">
									</div>
									<div class="speaker-contacts">
										<a href="#" class="contact pull-left fa fa-facebook"></a>
										<a href="#" class="contact pull-right fa fa-twitter"></a>
									</div>
								</div>
								<h3>Cultura datera</h3>
								<p>Experiencias de la comunidad que trabaja con datos abiertos.</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-05.jpg" alt="Speaker 5">
									</div>
									<div class="speaker-contacts">
										<a href="#" class="contact pull-left fa fa-facebook"></a>
										<a href="#" class="contact pull-right fa fa-twitter"></a>
									</div>
								</div>
								<h3>Gobierno Abierto</h3>
								<p>Lo que nos gusta y lo que no en el camino por abrir los Estados.</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-06.jpg" alt="Speaker 6">
									</div>
									<div class="speaker-contacts">
										<a href="#" class="contact pull-left fa fa-facebook"></a>
										<a href="#" class="contact pull-right fa fa-twitter"></a>
									</div>
								</div>
								<h3>Transparencia</h3>
								<p>Datos abiertos como herramienta al servicio de la transparencia</p>
							</div>
						</div>
						<div class="text-center margin-top col-md-12 col-sm-12"><h4>¿Y a ti qué temas te gustaría tratar en #Abrelatam15? <a class="btn btn-small" href="https://docs.google.com/forms/d/1zyHKzLfII1Y6D-LIasFO07rEMUe3KeYpY5EoeuNwjDk/viewform" target="_blank">Cuéntanos</a></h4></div>
					</div>
				</section>
				<!--==========-->

				<!--===============================-->
				<!--== News ===================-->
				<!--===============================-->
				<section id="news" class="row">
					<div class="col-md-12 col-sm-12">
						<div class="section-header text-center">
							<h2>Noticias</h2>
							<h4>Que esta pasando con los datos abiertos en el mundo</h4>
						</div>
						<div class="text-width">
							{% include feed-noticias.html %}
						</div>
					</div>
				</section>

				
				<div id="gotop" class="gotop fa fa-arrow-up"></div>
			</div>
		</div>
		<footer id="footer">
			<div id="map_canvas"></div>
			
			<div class="footer">
				<div class="container box">

					<section id="info" class="row">
						<div class="col-sm-8">

							<!--== Social Icons ==-->
							<ul class="social-icons">
								<li><a href="#" class="fa fa-facebook"></a></li>
								<li><a href="#" class="fa fa-twitter"></a></li>
								<li><a href="#" class="fa fa-google-plus"></a></li>
								<li><a href="#" class="fa fa-youtube"></a></li>
								<li><a href="#" class="fa fa-instagram"></a></li>
								<li><a href="#" class="fa fa-pinterest"></a></li>
								<li><a href="#" class="fa fa-linkedin"></a></li>
							</ul>

						</div>
						<div class="col-sm-4 text-right">
							<div class="copyrights">
								All Rights Reserved. © 2014
							</div>
						</div>
					</section>

				</div>
			</div>
		</footer>

		<!--== Javascript Files ==-->
		
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.scrollTo.js"></script>
		<script src="js/jquery.nav.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.flexslider.js"></script>
		<script src="js/jquery.accordion.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/jquery.fitvids.js"></script>
		<script src="js/gmap3.js"></script>
		<script src="js/fancySelect.js"></script>
		<script src="js/main.js"></script>

