---
layout: default
--- 

<header id="header">
      
  <section id="home" class="row">
      <div class="container box">
          <div class="col-md-12">
            <div class="logo text-center">
              <img src="images/labci-logo.png" alt="Logo">
            </div>
          </div>
          <div class="col-md-12 text-center">
            <div class="text-width">
              <h1>Experimentos ciudadanos para el cambio social</h1>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 text-center" id="what">
            <h2>¿Qué?</h2>
            <h5>Integramos a los sectores sociales y tecnológicos a través de <strong>procesos de facilitación</strong> orientados a generar herramientas innovadoras de alto impacto social.</h5>
          </div>
          <div class="col-md-4 col-sm-4 text-center" id="who">
            <h2>¿Quién?</h2>
            <h5>Convocamos a <strong>organizaciones de la sociedad civil, medios, academia, desarrolladores y diseñadores web</strong> con retos comunes y objetivos transversales.</h5>
          </div>
          <div class="col-md-4 col-sm-4 text-center" id="why">
            <h2>¿Por qué?</h2>
            <h5>A través de una asesoría presencial y virtual para el <strong>fortalecimiento de un equipo multidisciplinario</strong> que desarrolle e implemente nuevas tecnologías cívicas.</h5>
          </div>
      </div>
  </section>

      <div class="header-bg">
        <div id="preloader">
          <div class="preloader"></div>
        </div>
        <div class="main-slider" id="main-slider">

          <!--== Main Slider ==-->
          <ul class="slides">
            <li><img src="images/demo/bg-slide-01.jpg" alt="Slide Image"/></li>
            <li><img src="images/demo/bg-slide-02.jpg" alt="Slide Image 2"/></li>
          </ul>

        </div>
      </div>
    </header>
    

<div class="content">

  <div class="container box">
    <section id="labs" class="row">
          <div class="col-md-4">
            <div class="item">
              <span class="label label-primary">CONVOCATORIAS ABIERTAS</span>
              <h3>Bolivia</h3>
              <p>Bienvenidos expertos y tecnólogos de la Paz a formar parte del primer LabCi de la región! Ya tenemos lugar y fecha para esta gran oportunidad de trabajo colaborativo.</p>
              <a href="{{ site.baseurl }}/bolivia.html" class="btn btn-default full-width">Más información</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="item">
              <span class="label label-warning">PRÓXIMAMENTE</span>
              <h3>Ecuador</h3>
              <p>Junio promete ser un gran mes para la comunidad cívica y tech de Quito. En pocas semanas tendremos una gran invitación para ustedes.</p>
              <!-- <a href="/" class="btn btn-default full-width">Más información</a> -->
            </div>
          </div>
          <div class="col-md-4">
            <div class="item">
              <span class="label label-warning">PRÓXIMAMENTE</span>
              <h3>Perú</h3>
              <p>La primera generación de Laboratorios llegará en agosto a sorprender a Lima. Grandes desafíos se avecinan para el segundo semestre!</p>
              <!-- <div class="text-right"><a href="/" class="btn btn-default full-width">Más información</a></div> -->
            </div>
          </div>
    </section>

    <section id="formula" class="row separated">
      <div class="col-sm-12">
        <div class="section-header text-center">
          <h2>Innovación Ciudadana</h2>
          <h4>Fórmula De la investigación...</h4>
        </div>
      </div>
      <div class="col-md-12 margin-bottom"><img class="full-width" src="{{ site.baseurl }}/images/formula.png"></div>
      <div class="col-md-3"><strong>R:</strong> Replicabilidad. El factor de recontextualizar un modus operandi.</div>
      <div class="col-md-3"><strong>Rd:</strong> Recursos disponibles. Sumatoria de <i>RH+I+K+@</i><ul><li>RH: Recursos Humanos.</li><li>I: Infraestructura.</li><li>K: Capital.</li><li>@: Tecnología.</li></ul></div>
      <div class="col-md-3"><strong>Mo:</strong><i>Modus operandi.</i> Sumatoria de (i+px+e)c.<ul><li>m: Motivación.</li><li>px: Praxis.</li><li>e: Error.</li><li>c: Conciencia.</li></ul></div>
      <div class="col-md-3"><strong>s:</strong> Solución. La cualidad de ver en los problemas una oportunidad. Debe ser mayor que la queja.<ul><li><strong>q:</strong> Queja.</li><li><strong>Ut:</strong> Utopía. Raíz cuadrada de utopía.</li><li><strong>Código Abierto:</strong> El ejercicio de compartir información con el fin de brindar herramientas de <strong>"hazlo tu mismo".</strong></li></ul></div>
    </section>

    <section id="want-one" class="row separated">
      <div class="col-sm-12">
        <div class="section-header text-center">
          <h2>¿Quieres un Lab en tu ciudad?</h2>
          <h4>Si quieres organizar un Laboratorio Cívico en tu país o región contáctanos.</h4>
        </div>
      </div>
      {% include wantone.html %}
    </section>

  </div>


  <footer id="footer">
    {% include footer-home.html %}
  </footer>

</div>
    <!--== Javascript Files ==-->
    
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.scrollTo.js"></script>
    <script src="js/jquery.nav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.flexslider.js"></script>
    <script src="js/jquery.accordion.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="js/jquery.fitvids.js"></script>
    <script src="js/gmap3.js"></script>
    <script src="js/fancySelect.js"></script>
    <script src="js/main.js"></script>

