				<!--===============================-->
				<!--== Schedule ===================-->
				<!--===============================-->
				<section id="schedule" class="row">
					<div class="col-md-7 col-sm-12">
						<div class="content-tabs">
							<ul class="nav nav-tabs">
							  <li class="active"><a href="#tab1" data-toggle="tab">Mayo</a></li>
							  <li><a href="#tab2" data-toggle="tab">Junio</a></li>
							  <li><a href="#tab3" data-toggle="tab">Julio</a></li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="tab1">
									<ul class="accordion-group">
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>Vie 8 y Sab 9</time>
									        	<h4 class="accordion-title">Talleres presenciales</h4>
									        	<!-- <span class="fa fa-plus-circle pull-right"></span> -->
									        </a>
									        <div class="accordion-body">
									        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>Lun 11 al Vie 29 </time>
									        	<h4 class="accordion-title">Desarrollo del prototipo</h4>
									        	<!-- <span class="fa fa-plus-circle pull-right"></span> -->
									        </a>
									        <div class="accordion-body">
									        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>Jue 28</time>
									        	<h4 class="accordion-title">Primer taller virtual</h4>
									        	<!-- <span class="fa fa-plus-circle pull-right"></span> -->
									        </a>
									        <div class="accordion-body">
									        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
									        </div>
									    </li>
									</ul>
								</div>
								<div class="tab-pane" id="tab2">
									<ul class="accordion-group">
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>1 al 30</time>
									        	<h4 class="accordion-title">Mes de desarrollo y testeo del producto</h4>
									        	<!-- <span class="fa fa-plus-circle pull-right"></span> -->
									        </a>
									        <div class="accordion-body">
									        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>Jue 18</time>
									        	<h4 class="accordion-title">2do taller virtual</h4>
									        	<!-- <span class="fa fa-plus-circle pull-right"></span> -->
									        </a>
									        <div class="accordion-body">
									        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
									        </div>
									    </li>
									</ul>
								</div>
								<div class="tab-pane" id="tab3">
									<ul class="accordion-group">
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>Jue 2</time>
									        	<h4 class="accordion-title">3er taller virtual</h4>
									        	<!-- <span class="fa fa-plus-circle pull-right"></span> -->
									        </a>
									        <div class="accordion-body">
									        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>6 al 17</time>
									        	<h4 class="accordion-title">Preparación del lanzamiento</h4>
									        	<!-- <span class="fa fa-plus-circle pull-right"></span> -->
									        </a>
									        <div class="accordion-body">
									        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>20 al 24</time>
									        	<h4 class="accordion-title">lanzamiento proyecto </h4>
									        	<!-- <span class="fa fa-plus-circle pull-right"></span> -->
									        </a>
									        <div class="accordion-body">
									        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
									        </div>
									    </li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-sm-12">
						<p>El LabCi es una instancia que ofrece asesoría, soporte técnico y recursos económicos para fortalecer un equipo multidisciplinario interesado en desarrollar proyectos de tecnología cívica con impacto a nivel local o nacional. Éste consiste en un período de 3 meses dentro de los cuales se realizan 2 sesiones de trabajo presencial y 3 sesiones virtuales, finalizando con la presentación y lanzamiento del producto desarrollado.</p>
					</div>
				</section>
				<!--==========-->
